<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.konnectplugins.com/edu-course/contact-two.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:22 GMT -->
<head>

</head>

<!-- Body -->
<body>
    <!-- Pre Loader -->
    <header class="inner">
        <!-- Banner -->
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 id="homeHeading"><a href="index-2.html">Home</a> / <span>Contact Us Two</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contact Form + Address-->
    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- Address-->
                    <div class="address-box">
                        <img src="~/Content/img/icons/location.png" alt="icon" class="template-contact-icon">
                        <p>
                            #Koramangala, Banglore<br>
                            Karnataka, INDIA
                        </p>
                    </div>
                    <!--     Phone Numbers-->
                    <div class="address-box">
                        <img src="~/Content/img/icons/phone.png" alt="icon" class="template-contact-icon">
                        <p>
                            +91 123-456789<br>
                            +91 123-456780
                        </p>
                    </div>

                    <!-- Email Details -->
                    <div class="address-box">
                        <img src="~/Content/img/icons/email.png" alt="icon" class="template-contact-icon">
                        <p>
                            info@konnectplugins.com<br>
                            sales@konnectplugins.com
                        </p>
                    </div>
                    <!-- Social Links -->
                    <div class="address-box"> <a href="#"> <i class="fa fa-twitter"></i> </a> <a href="#"> <i class="fa fa-facebook"></i> </a> <a href="#"> <i class="fa fa-google-plus"></i> </a> <a href="#"> <i class="fa fa-linkedin"></i> </a> <a href="#"> <i class="fa fa-youtube"></i> </a> </div>
                </div>
                <!-- Contact Form-->
                <div class="col-sm-8 template-form">
                    <h2 class="contact-heading">Get in <span>Touch with us</span></h2>
                    <div class="template-space"></div>
                    <form id="contactForm">
                        <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                        <input type="text" class="form-control" id="phone" placeholder="Your Phone number" required>
                        <input type="email" class="form-control" id="email" placeholder="Enter Your E-Mail" required>
                        <textarea class="form-control" id="comment" placeholder="Comment here..." required></textarea>
                        <button type="submit" class="service-box-button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--google map Full-->
    <aside class="full-map">
        <div class="container-fluid">
            <div id="map"></div>
            <div id="cont" style="display:none">
                <img class="logo-change" src="~/Content/img/logo-green.png" width='120' alt="logo">
                <p style='color: #333;font-size: 16px;font-weight: 400;'>
                    Koramangala, Banglore<br>
                    Karnataka, INDIA
                </p>
            </div>
        </div>
    </aside>
    <!--Call To Action-->
    <aside class="dark-bg aside-cta">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="margin-10 text-white cta-heading">Are you Looking for good Trainer?</h3>
                    <a href="javascript:void(0)" class="template-button"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact Now</a>
                </div>
            </div>
        </div>
    </aside>


</body>

<!-- Mirrored from www.konnectplugins.com/edu-course/contact-two.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:22 GMT -->
</html>
