<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.konnectplugins.com/edu-course/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:09 GMT -->
<head>

</head>

<!-- Body -->
<body>
    <!--Forget Password-->
    <section class="section-bottom-border login-signup">
        <div class="container">
            <div class="row">
                <div class="login-main template-form">
                    <h4>Please Log In, or <a href="#">Sign Up</a></h4>
                    <div class="template-space"></div>

                    <form>
                        <div class="form-group">
                            @Html.Label("Email")
                            @Html.TextBox("username", null, new { @class = "form-control", @placeholder = "Enter email" })
                        </div>


                        <input type="button" class="btn btn btn-success" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>