<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.konnectplugins.com/edu-course/gallery.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:18 GMT -->
<head>
  
</head>

<!-- Body -->
<body>
    <header class="inner">
        <!-- Banner -->
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 id="homeHeading"><a href="index-2.html">Home</a> / <span>Gallery</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- blogs  -->
    <section>
        <div class="container">
            <div class="row">
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-1"> <img src="~/Content/img/gallery/gallery-one.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-2"> <img src="~/Content/img/gallery/gallery-two.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-3"> <img src="~/Content/img/gallery/gallery-three.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-4"> <img src="~/Content/img/gallery/gallery-four.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-3"> <img src="~/Content/img/gallery/gallery-three.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-4"> <img src="~/Content/img/gallery/gallery-four.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-2"> <img src="~/Content/img/gallery/gallery-two.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-1"> <img src="~/Content/img/gallery/gallery-one.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-1"> <img src="~/Content/img/gallery/gallery-one.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-2"> <img src="~/Content/img/gallery/gallery-two.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-3"> <img src="~/Content/img/gallery/gallery-three.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <!--Gallery image-->
                <div class="col-sm-3 gallery-box"> <a href="#" data-toggle="modal" data-target=".pop-up-4"> <img src="~/Content/img/gallery/gallery-four.jpg" class="img-responsive center-block" alt=""> </a> </div>
                <div class="col-md-12 text-center margin-10"> </div>

                <!--  Modal content one-->
                <div class="modal fade pop-up-1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <img src="~/Content/img/gallery/gallery-one.jpg" class="img-responsive center-block" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal image -->
                <!--  Modal content two-->
                <div class="modal fade pop-up-2" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <img src="~/Content/img/gallery/gallery-two.jpg" class="img-responsive center-block" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal image -->
                <!--  Modal content three-->
                <div class="modal fade pop-up-3" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <img src="~/Content/img/gallery/gallery-three.jpg" class="img-responsive center-block" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal image -->
                <!--  Modal content four-->
                <div class="modal fade pop-up-4" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <img src="~/Content/img/gallery/gallery-four.jpg" class="img-responsive center-block" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal image -->

            </div>
            <!-- /.row -->
        </div>
    </section>
    <aside class="dark-bg aside-cta">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="margin-10 text-white cta-heading">Are you Looking for good Trainer?</h3>
                    <a href="javascript:void(0)" class="template-button"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact Now</a>
                </div>
            </div>
        </div>
    </aside>
  
</body>

<!-- Mirrored from www.konnectplugins.com/edu-course/gallery.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:18 GMT -->
</html>
