<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.konnectplugins.com/edu-course/terms-and-conditions.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:22 GMT -->
<head>

</head>

<!-- Body -->
<body>

    <header class="inner">
        <!-- Banner -->
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 id="homeHeading"><a href="index-2.html">Home</a> / <span>Terms & Conditions</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Terms and conditions content -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="para-heading">Terms</h2>
                    <p>Curabitur ut est a mi fermentum tristique. Aliquam et ante odio. Donec elementum odio eget ex porta, vel laoreet nisl fermentum. Nam risus purus, hendrerit id placerat sit amet, tempor a urna. Maecenas id quam et dolor facilisis pulvinar.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Curabitur ut est a mi fermentum tristique. Aliquam et ante odio. Donec elementum odio eget ex porta, vel laoreet nisl fermentum. Nam risus purus, hendrerit id placerat sit amet, tempor a urna. Maecenas id quam et dolor facilisis pulvinar.</p>
                </div>
            </div>
        </div>
    </section>

    <!--Call To Action-->
    <aside class="dark-bg aside-cta">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="margin-10 text-white cta-heading">Are you Looking for good Trainer?</h3>
                    <a href="javascript:void(0)" class="template-button"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact Now</a>
                </div>
            </div>
        </div>
    </aside>

</body>

<!-- Mirrored from www.konnectplugins.com/edu-course/terms-and-conditions.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:22 GMT -->
</html>
