<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.konnectplugins.com/edu-course/apply-course.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:18 GMT -->
<head>
    @{
        ViewBag.Title = "detailcomplainform";
    }

</head>

<!-- Body -->
<body>
    <!-- Registrations page-->
    <div ng-controller="headerCtrl">
        <div class="container" style="background-color:white ; width:80% ">
            <h2 style="color:black; text-align:center"><b>DETAIL COMPLAIN FORM</b></h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <section>
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-horizontal">


                                        <div class="form-group">
                                            @Html.Label("Reply", new { @class = "control-label col-md-6" })
                                            <div class="col-md-12  col-sm-12">
                                                @Html.TextArea("reply", null, new { @class = "form-control   ", @placeholder = "Enter reply" })
                                            </div>


                                        </div>

                                        <div class="form-group ">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn btn-success"> SUBMIT </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>





</body>

<!-- Mirrored from www.konnectplugins.com/edu-course/apply-course.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:18 GMT -->
</html>







